<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <script src="https://kit.fontawesome.com/46b0370ee7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-index.css">
    <title>OclockShop</title>
</head>
<body>
    <header>
        <img class="logo" src="./img/logo-prueba.png" alt="">
        <nav class="barra-busqueda">Lugar para la barra de búsqueda</nav>
        <nav>
            <ul class="enlaces">
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a class="carrito" href="">
                    <i class="fas fa-shopping-cart fa-1x"></i>
                </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Soy un h2</h2>
        <section>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus pariatur non suscipit sit, temporibus magni, repellat rem libero voluptate eligendi deserunt dolorum! Aperiam laborum eius ut blanditiis. Numquam, at quibusdam.</div>
        </section>
    </main>
</body>
</html>