<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/46b0370ee7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-login-register.css">
    <title>OclockShop</title>
</head>
<body>
    <header>
        <div class="top">
            <div class="top1">
                <p><a href=""> Español </a></p>|<p><a href=""> English </a></p>
            </div>
            <div class="contact-us">
                <p>Contáctenos</p>
            </div>
        </div>
        <div class="header1">
            <div class="logo">
                 <a href="/"><img src="img/logo-prueba.png" alt="Logo OclockShop"></a>
            </div>
            <div class="menu">
                <form action="/resultados-de-busqueda" method="GET" class="busqueda">
                    <input type="text" placeholder="Buscar productos">
                    <button><i class="fas fa-search"></i></button>
                </form>
                <div class="mobile">
                    <div class="burger-menu">
                        <i class="fa fa-bars burger"></i>
                    </div>
                    <div class="carrito1">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
            <div class="desplegable">
                <div class="fijo">
                    <a href=""><p>Colecciones</p></a>
                    <a href=""><p>Mujer</p></a>
                    <a href=""><p>Hombre</p></a>
                    <a href=""><p>Ofertas</p></a>
                    <a href="/quiz"><p>Haz un quiz</p></a>
                </div>
                <div class="carrito">
                    <div class="registration">
                        <a href=""><p>Registrate</p></a>
                    </div>
                    <div class="sign-in">
                        <a href=""><p>Ingresá</p></a>
                    </div>
                    <div class="carro">
                        <a href=""><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
    </header>
    <main class="main">
        <div class="carrusel">
            <div>
                <img src="./img/smartwatch.jpg" alt="" width="80%">
            </div>
            <div class="titulos-carrusel">
                <h4>¡OFERTAS IMPERDIBLES!</h4>
                <H3>POR TIEMPO LIMITADO</H3>
            </div> 
        </div>
        <div class="quiz">
            <H4>¿Todavía no decidiste tu nuevo estilo?</H4>
            <div>
                <form action="/quiz" method="GET">
                    <button type="button" class="button-quiz">Masculinos</button>
                    <button type="button" class="button-quiz">Femeninos</button>
                </form>
            <div>
                <a href="/quiz">Realizar quiz > </a>
            </div>               
            </div>
        </div>
    </main>
    <article class="contenedor-categ">
        <div class="categorias">
                <p><a href=""><img src="./img/categoria-1.jpg" alt="" class="img-cat">Categoría</a></p>
                <p><a href=""><img src="./img/categoria-1.jpg" alt="" class="img-cat">Categoría</a></p>
                <p><a href=""><img src="./img/categoria-1.jpg" alt="" class="img-cat">Categoría</a></p>
                <p><a href=""><img src="./img/categoria-1.jpg" alt="" class="img-cat">Categoría</a></p>
                <p><a href=""><img src="./img/categoria-1.jpg" alt="" class="img-cat">Categoría</a></p>
        </div>
    </article>
    <footer>
        <div class="main-footer">
            <p>Conócenos</p>
            <p>Términos y condiciones</p>
            <p>¡Seguinos!</p>
            <p>¿Necesitas ayuda?</p>
            <p>Trabajá con nosotros</p>
        </div>
        <div class="copyright">
            <p>Copyright © 2021 OclockShop Inc. Todos los derechos reservados</p>
        </div>
    
    </footer>
</html>