<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/46b0370ee7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-productCart.css">
    <title>OclockShop</title>
</head>
<body>
    <header>
        <div class="top">
            <div class="top1">
                <p><a href=""> Español </a></p>|<p><a href=""> English </a></p>
            </div>
            <div class="contact-us">
                <p>Contáctenos</p>
            </div>
        </div>
        <div class="header1">
            <div class="logo">
                 <a href="/"><img src="img/logo-prueba.png" alt="Logo OclockShop"></a>
            </div>
            <div class="menu">
                <form action="/resultados-de-busqueda" method="GET" class="busqueda">
                    <input type="text" placeholder="Buscar productos">
                    <button><i class="fas fa-search"></i></button>
                </form>
                <div class="mobile">
                    <div class="burger-menu">
                        <i class="fa fa-bars burger"></i>
                    </div>
                    <div class="carrito1">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
            <div class="desplegable">
                <div class="fijo">
                    <a href=""><p>Colecciones</p></a>
                    <a href=""><p>Mujer</p></a>
                    <a href=""><p>Hombre</p></a>
                    <a href=""><p>Ofertas</p></a>
                    <a href="/quiz"><p>Haz un quiz</p></a>
                </div>
                <div class="carrito">
                    <div class="registration">
                        <a href=""><p>Registrate</p></a>
                    </div>
                    <div class="sign-in">
                        <a href=""><p>Ingresá</p></a>
                    </div>
                    <div class="carro">
                        <a href=""><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
    </header>
    <main class="main">
        <section>
            <div class="titulo">CARRITO DE COMPRAS</div>
            <nav class="contenedorNav"> <!-- para listados se arma con NAV + UL + LI -->
                <ul class="nombreProducto">
                    <li><a href="#">Nombre Producto</a></li>
                </ul>
                <ul class="atributosProducto">
                    <li><a href="#">Precio</a></li>
                    <li><a href="#">Cantidad</a></li>
                    <li><a href="#">Subtotal</a></li>
                </ul>
            
            </nav>
            <div class="articulos">
                <div class="articulo1">
                <img src="/img/reloj1.jpg" width="20%">                    
                        <div class="precioDesc">Modelo Reloj</div>
                        <div class="precios">$6.770</div>
                        <div class="desc">cantidad</div>
                        <div class="desc">$$$$$$</div>
                </div>
                <div class="articulo2">
                        <img src="/img/reloj1.jpg" width="20%">                    
                        <div class="precioDesc">Modelo Reloj</div>
                        <div class="precios">$6.770</div>
                        <div class="desc">cantidad</div>
                        <div class="desc">$$$$$$</div>
                </div>        
                    
                    </div>

                   <div class="detalleIVA">
                       <div class="bordeIzquierdo"></div>
                       <div class="detalle">
                           <div class="IVA">IVA</div>
                           <div class="TOTAL">total</div>
                       </div>
                   </div> <!--cierre detalleCompra-->
                   
             <!--reutilice codigo para el total-->

                   <div class="detalleCompra">
                    <div class="bordeIzquierdo"></div>
                    <div class="detalle">
                        <div class="IVA">TOTAL</div>
                        <div class="TOTAL">total</div>
                    </div>
                </div> <!--cierre detalleCompra-->
                <button class="btnComprar" type="submit">COMPRAR</button> 


        </section>
    </main>
    <footer>
        <div class="main-footer">
            <p>Conócenos</p>
            <p>Términos y condiciones</p>
            <p>¡Seguinos!</p>
            <p>¿Necesitas ayuda?</p>
            <p>Trabajá con nosotros</p>
        </div>
        <div class="copyright">
            <p>Copyright © 2021 OclockShop Inc. Todos los derechos reservados</p>
        </div>
    
    </footer>
</html>