<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/57cb23e7a3.js" crossorigin="anonymous"></script>
    <link href="css/styles-product.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <title>Detalle Del Producto</title>
</head>
<body>
    <header>
        <div class="top">
            <div class="top1">
                <p><a href=""> Español </a></p>|<p><a href=""> English </a></p>
            </div>
            <div class="contact-us">
                <p>Contáctenos</p>
            </div>
        </div>
        <div class="header1">
             <div class="logo">
                 <img src="img/logo-prueba.png" alt="Logo OclockShop">
            </div>
            <div class="menu">
                <form action="/resultados-de-busqueda" method="GET" class="busqueda">
                    <input type="text" placeholder="Buscar productos">
                    <button><i class="fas fa-search"></i></button>
                </form>
                <div class="mobile">
                    <div class="burger-menu">
                        <i class="fa fa-bars burger"></i>
                    </div>
                    <div class="carrito1">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
            <div class="desplegable">
                <div class="fijo">
                    <p>Colecciones</p>
                    <p>Mujer</p>
                    <p>Hombre</p>
                    <p>Ofertas</p>
                </div>
                <div class="carrito">
                    <div class="registration">
                        <p>Registrate</p>
                    </div>
                    <div class="sign-in">
                        <p>Ingresá</p>
                    </div>
                    <div class="carro">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
    </header>
    <main class="principal">
       <div class="imagenes-verticales">
            <div class="imagen-pequeña">
                <img src="img/Tag-Heuer1.jpg" alt="">
            </div>
            <div class="imagen-pequeña"> 
                <img src="img/Tag-Heuer2.jpg" alt="">
            </div>
            <div class="imagen-pequeña">
                <img src="img/Tag-Heuer3.jpg" alt="">
            </div>
        </div>
        <div class="imagen-principal">
            <img src="img/Tag-Heuer1.jpg" alt="">
        </div>
        <div class=descripcion>
            <h3>Tag Heuer Carrera</h3>
            <p class="main-characteristics">Cronografo automatico - Diametro 44 mm</p>
            <div class="precios">
                <p class="precio-original">USD 5.100</p>
                <p class="precio-descuento">USD 3.825</p>
            </div>
            <form action="/registro" method="GET">
                <label for="cantidad">Seleccione la cantidad:</label>
                <select name="cantidad" id="cantidad" class="cantidad-desp">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <div class="comprar">
                    <label for="comprar"></label>
                    <button type="submit" id="comprar">Comprar ¡YA!</button>
                </div>
                <div class="agregar-carrito">
                    <label for="carrito"></label>
                    <button type="submit" id="carrito">Agregar al carrito</button>
                </div>
            </form>
        </div>
    </main>
    <div class="otros-productos">
        <h4>Otros Productos</h4>
        <div class="otros-ofrecidos">
            <div class="otros">
                <img src="img/Tag-Heuer11.jpg" alt="">
            </div>
            <div class="otros"> 
                <img src="img/Tag-Heuer12.jpg" alt="">
            </div>
            <div class="otros">
                <img src="img/Tag-Heuer13.jpg" alt="">
            </div>
            <div class="otros">
                <img src="img/Tag-Heuer11.jpg" alt="">
            </div>
            <div class="otros"> 
                <img src="img/Tag-Heuer12.jpg" alt="">
            </div>
            <div class="otros">
                <img src="img/Tag-Heuer13.jpg" alt="">
            </div>
        </div>
    </div>
    <article class="not-main">
        <div class="caracteristicas">
            <h4>Características del producto</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sint incidunt placeat, quo sed necessitatibus facilis praesentium eum mollitia ullam laborum similique velit dolorum itaque dolor accusantium fuga suscipit ea.</p>
        </div>
    </article>    
</body>

<footer>
    <div class="main-footer">
        <p>Conócenos</p>
        <p>Términos y condiciones</p>
        <p>¡Seguinos!</p>
        <p>¿Necesitas ayuda?</p>
        <p>Trabajá con nosotros</p>
    </div>
    <div class="copyright">
        <p>Copyright © 2021 OclockShop Inc. Todos los derechos reservados</p>
    </div>

</footer>
</html>