<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/57cb23e7a3.js" crossorigin="anonymous"></script>
    <link href="css/styles-product.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <title>Detalle Del Producto</title>
</head>
<body>
    <header>
        <div class="top">
            <div class="top1">
                <p><a href=""> Español </a> | <a href=""> English </a></p>
            </div>
            <div class="contact-us">
                <p>Contáctenos</p>
            </div>
        </div>
            <div class="header1">
                <div class="logo">
                    <img src="img/logo-prueba.png" alt="Logo OclockShop">
                </div>
                <div class="menu">
                    <div class="busqueda">
                        <form action="/resultados-de-busqueda" method="GET" class="busqueda">
                            <input type="text" placeholder="Buscar productos">
                            <button><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <div class="mobile">
                        <div class="sign-in">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="carrito1">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desplegable">
                <p>Colecciones</p>
                <p>Mujer</p>
                <p>Hombre</p>
                <p>Ofertas</p>

                <div class="carrito">
                    <div class="registration">
                        <p>Registrate</p>
                    </div>
                    <div class="sign-in">
                        <p>Ingresá</p>
                    </div>
                    <div class="carrito1">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>

    </header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat aliquid quo est consequatur maxime laudantium et, nisi, aperiam quidem ab tempora possimus excepturi sequi, esse debitis odit ratione nihil dolor?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto fuga consequatur temporibus cum dicta magni suscipit. Voluptatum mollitia consequatur cumque error similique facilis necessitatibus at quibusdam officiis, excepturi, eum animi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa commodi delectus soluta, cum veritatis ut, consectetur eligendi cumque recusandae alias fugiat! Eligendi sint magnam vel molestiae ducimus repellendus laborum distinctio?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita libero veritatis accusantium, ipsa necessitatibus, dicta dolorum odio deleniti nostrum veniam repellat sunt tempore molestias reprehenderit placeat earum! Quo, sequi iusto!</p>
    </main>

</body>

<footer>
    <div class="main-footer">
        <p>Conócenos</p>
        <p>Términos y condiciones</p>
        <p>¡Seguinos!</p>
        <p>¿Necesitas ayuda?</p>
        <p>Trabajá con nosotros</p>
    </div>
    <div class="copyright">
        <p>Copyright © 2021 OclockShop Inc. Todos los derechos reservados</p>
    </div>

</footer>
</html>