<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/46b0370ee7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Haz un quiz!</title>
</head>

<body>
    <header>
        <nav class="encabezado">
            <img src="./img/logo-prueba.png" alt="logo">
            <h5 class="numero-pregunta">
                Número de pregunta
            </h5>
            <i class="fas fa-times"></i>
        </nav>
    </header>
    <main>
        <section class="pregunta">
            <h1>
                Pregunta del quiz
            </h1>
            <h4>
                Aclaración de la pregunta
            </h4>
        </section>
        <section class="opciones">
            <div class="opcion-1">
                <img src="#" >
                <h5>
                    Descripción opción 1
                </h5>
            </div>
            <div class="opcion-2">
                <img src="#" >
                <h5>
                    Descripción opción 2
                </h5>
            </div>
            <div class="opcion-3">
                <img src="#" >
                <h5>
                    Descripción opción 3
                </h5>
            </div>
        </section>
        <section>
            <a href="#">No estoy seguro. Siguiente pregunta</a>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>