*{
    width: 100%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    
}

/*Configuracion Header*/
header{
    background-color: #9E9E9E;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #454545;
    font-size: 16px;
    overflow-x: hidden;
}
.top{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #9E9E9E;
    width: 100vw;
    line-height: 1vh;
}

.top1{
    display: flex;
    width: 50%;
    border-bottom: solid 0.5px black;
}

.top1 p{
    margin: 0 2vw 0.5vw 1vw;
    border-top: solid 0.5vw #9E9E9E;
    font-size: 12px;
    width: 80%;
    text-align: center;
}
.contact-us{
    box-sizing: border-box;
    padding-right: 2vw;
    width: 50%;
    border-bottom: solid 0.5px black;
}
.contact-us p{
    box-sizing: border-box;
    margin: 0 0 0.5vw 0;
    border-top: solid 0.5vw #9E9E9E;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}
.header1{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.logo{
    width: 15%;
}
.logo img{
    height: 100%
}

.menu{
    width: 85%;
    display: flex;
    align-items: center;
}

.busqueda{
    width: 85%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
}
.busqueda input{
    height: 16px;
    text-align: center;
    padding: 2px;
    border-radius: 5px 0 0 5px;
    color: #666;
    box-sizing: content-box;
    border: none;
}
.busqueda button{
    height: 16px;
    text-align: left;
    border-top: solid 6px white;
    border-bottom: solid 6px white;
    border-radius: 0 5px 5px 0;
    color: #666;
    background-color: white;
    box-sizing: content-box;
    border: none;
    padding: 2px 1vw;
    width: 4vw;
}

.mobile{
    display: flex;
    justify-content: center;
    width: 15%;
}

.burger-menu{
    text-align: center;
    display: none;
    width: 50%;
    font-size: 14px; 
}

.burger-menu i{
    text-align: center;
    padding: 1vw;
    color: black;
    width: 50%;
}

.carrito1{
    text-align: center;
    display: none;
    justify-content: center;
    width: 50%;
    font-size: 14px;
}

.carrito1 i{
    text-align: center;
    padding: 1vw;
    width: 50%;
}

.desplegable{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /*border-top: solid 1px rgb(3,3,66);*/
    font-size: 16px; /*quizas 14px*/
}

.desplegable p{
    box-sizing: content-box;
    text-align: center;
    margin: 0;
}

.fijo{
    display: flex;
    justify-content: space-around;
    width: 250%;
    background-color: rgb(187, 183, 183);
}

.fijo a{
    color: #454545;
    text-decoration: none;
}

.carrito{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(187, 183, 183);
}

.carrito a{
    color: #454545;
    text-decoration: none;
}

.registration{
    width: 40%;
}

.sign-in{
    width: 40%;
}

.carro{
    box-sizing: border-box;
    text-align: center;
    padding: 0 3vw 0 0;
    width: 20%;
    transition: transform 0.5s;
}

.carro:hover{
    transform: scale(1.5,1.5);
}

@media (max-width: 360px) {
    /*mobile*/

    .desplegable{
        display: none;
    }
    .busqueda{
        width: 70%;
    }
    .mobile{
        margin: 0.5vw;
    }
    .sign-in{
        margin: 0;
    }
    .carrito1{
        display: block;
    }
    .burger-menu{
        display: block;
    }
}

@media (max-width: 768px) {
    /* tablet */

    .desplegable{
        display: none;
    }
    .busqueda{
        width: 70%;
    }
    .mobile{
        margin: 0.5vw;
    }
    .sign-in{
        margin: 0;
    }
    .carrito1{
        display: block;
    }
    .burger-menu{
        display: block;
    }
}

@media (min-width: 769px) {
    /* desktop */

    .mobile{
        display: none;
    }
    .menu-cel{
        display: none;
    }
    .top1 p{
        width: 20%;
    }
    .logo{
        width: 8%;
    }

}
/*----------------------------- Fin configuraciones header ---------------------------------*/
body{
    font-family: 'Ubuntu', sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(196, 194, 204);
    width: 100%;
}
.carrusel{
    flex-grow: 0.80;
    margin: 2px 0;
    position: relative;
    max-width: 830px;
    padding-top: 20px;
}
.carrusel img{
    border-radius: 10px;
}

.titulos-carrusel{
    background-color: rgba(0,0,0,0.2);
    color: #ffffff;
    font-size: 20px;
    padding: 8px;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 450ms;
    border-radius: 20px;
    text-align: center;
}
.titulos-carrusel:hover{
    opacity: 1;
}
.quiz{
    margin: 0;
    align-self: center;
    color: rgba(51, 5, 65, 0.753);
    text-align: center;
    font-weight: bold;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
      
}
.quiz h4{
    border-bottom: solid 1px rgba(0,0,0,0.2);
}
.form_quiz{
    border: 5px;
}
.button-quiz{
    background-color: rgba(145, 142, 138, 0.788);
    border-radius: 20px;
    color: #ffffff;
    max-width: 100px;
}
.button-quiz:hover{
    background-color:rgba(99, 68, 139, 0.788);
}
.link-quiz{
    margin-top: 10px;
}
.categorias{
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    padding: 0;
    transition: all 450ms;
    text-align: center;
}
.categorias p:hover{
    transform: scale(1.2)
}
.img-cat{
    border: solid 1px white;
    border-radius: 50px;
    width: 80%;
    height: 80%;
    padding: 10px;
}
.contenedor-articulo{
    border-bottom: solid 2px #ebebeb;
    position: relative;
    transition: all 450ms;
    width: 100%;
    align-self: center;
}
.contenedor-articulo img{
    width: 80%;
}
.contenedor-articulo img:hover{
    transform: scale(0.9);
}
.contenedor-articulo:hover .icono-articulo{
    transform: scale(2, 2);
}
.contenedor-articulo h3{
    text-align: center;
    border-bottom: solid 2px #ebebeb;
    background-color: rgba(145, 142, 138, 0.788);
}
.articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
}
.sub-articulo-x{
    display: flex;
    align-self: flex-end; 
}
.icono-articulo{
    display: block ;
    color: rgba(99, 68, 139, 0.788);
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(99, 68, 139, 0.788);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.articulo-x{
    border-top: solid 2px #ebebeb;
    position: relative;
    padding: 15px;
    text-align: left;
}
.precio-anterior{
    text-decoration: line-through;
    color: red;
}
.precio-oferta{
    font-weight: bold;
}
@media(min-width: 361px){
    .main{
        flex-direction: row;
    }
    .link-quiz{
        margin-top: 30px;
    }
    .contenedor-articulo{
        max-width: 40vw;

    }
}
@media(min-width: 769px){
  .img-cat{
      width: 80%;
  }
  .quiz h4{
    font-size: 28px;
  }
  .contenedor-articulo{
      max-width: 20vw;
  }
}


/*----------------------------- Configuraciones footer -------------------------------------*/
footer{
    background-color: rgb(196, 194, 204);
    font-size: 12px;
    border-bottom: solid 1vh rgb(196, 194, 204);
    width: 100vw;
    box-sizing: border-box;
}
footer p{
    margin: 2vh 0;
}
.main-footer{
    display: flex;
    justify-content: space-around;
}
.copyright p{
    width: 95%;
    margin: 1vw;
}