* {
    box-sizing: border-box;
}

/*Configuracion Header*/
header{
    background-color: rgb(196, 194, 204);
}
.top{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgb(218, 210, 210);
}
.top1 p{
    margin: 0 0 0.5vw 1vh;
    border-top: solid 0.5vw rgb(196, 194, 204);
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
}
.contact-us p{
    margin: 0 1vh 0.5vw 0;
    border-top: solid 0.5vw rgb(196, 194, 204);
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}
.header1{
    display: flex;
}

.logo img{
    width: 15vw;
}

.menu{
    width: 100%;
}

.menu p{
    margin: 0
}

.busqueda{
    display: flex;
    justify-content:center ;
    position: relative;
}
.busqueda input{
    height: 16px;
    text-align: center;
    margin-top: 3vh;
    padding: 2px;
    border-radius: 5px 0 0 5px;
    color: #666;
    box-sizing: content-box;
    border: none;
    width: 100%;
}
.busqueda button{
    height: 16px;
    text-align: right;
    margin-top: 3vh;
    border-top: solid 6px white;
    border-bottom: solid 6px white;
    border-radius: 0 5px 5px 0;
    color: #666;
    background-color: white;
    box-sizing: content-box;
    position:relative;
    border: none;
    padding: 2px;
    align-self: flex-end;
}

.desplegable{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-top: solid 1px rgb(3,3,66);
    font-size: 14px;
}

.desplegable p{
    box-sizing: content-box;
    text-align: center;
    margin: 0;
}

.mobile{
    display: flex;
    justify-content: flex-end;
    margin: 1vh 5vh 1vh 5vh;
}

.carrito{
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 7vh;
}   
.sign-in{
    margin-left: 2vw;
}
.carrito1{
    margin-left: 2vw;
}

.sign-in i{
    font-size: 14px;
}
.carrito1 i{
    font-size: 14px;
}
@media (max-width: 450px) {
    .desplegable{
        display: none;
}}

@media(min-width: 450px) {
    .mobile{
        display: none;
    }
    .menu-cel{
        display: none;
    }
}
/*Fin Configuracion Header*/

/*Configuracion Footer*/
footer{
    background-color: rgb(196, 194, 204);
    font-size: 12px;
    border-bottom: solid 1vh rgb(196, 194, 204);
}
footer p{
    margin: 2vh 0;
}
.main-footer{
    display: flex;
    justify-content: space-around;
}
.copyright p{
    margin: 1vw;
}
/* fin configuraion footer */
body{
    color: black;
    font-size: 15px;
    line-height: 24px;
    background-color: #E2EBDC;
    border-bottom: solid 3px #454D3E;
}
.foto-reloj img {
    width: 100%;
    text-align: center;
    max-height: 200px;
}

.formulario {
    padding: 20px 15px;
}

.control-formulario {
    margin-bottom: 15px;
    margin-left: 1%;
}

.control-formulario label {
    display: block;
}

.preguntas-form {
    margin-top: 2%;
    font-size: 16px;
    font-weight: bold;
}

.aclaracion-pregunta {
    font-style: italic;
    margin-top: 0%;
    margin-bottom: 1%;
}

.email {
    width: 60%;
    min-width: 300px;
}

.label-quiz {
    margin: 3%;
    font-size: 30px;
    font-weight: bold;
    color:black;
    text-align: center;    
}