<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body>
    <%- include("partials/header.ejs") %>

    <h2 class="tit-term"> Nuestro equipo </h2>

    <div class="nuestro-equipo-flex">

        <div class="terminos">

            <p>Nacho</p>

            <p>Estudiante Digital House</p>
            <p>Back-end / React / APIs</p>
            
        </div>

        <div class="terminos">

            <p>Juan</p>

            <p>Estudiante Digital House</p>
            <p>Back-end / Base de datos</p>

        </div>

        <div class="terminos">

            <p>Seba</p>

            <p>Estudiante Digital House</p>
            <p>Back-end</p>
        
        </div>
    </div>

    <div class="nuestro-equipo-flex">
        <div class="terminos">

            <p>Dami</p>

            <p>Estudiante Digital House</p>
            <p>Front-end</p>

        </div>

        <div class="terminos">

            <p>Tomi</p>

            <p>Estudiante Digital House</p>
            <p>Front-end</p>        

        </div>
    </div>

<h2 class="tit-term"> Sobre O'Clock Shop </h2>

<div class="terminos">

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem architecto laborum beatae debitis optio illum et voluptatibus molestias eligendi, corrupti at voluptas totam vero ab temporibus modi praesentium quisquam quasi?</p>
                    
</div>

    <%- include("partials/footer.ejs") %>

</body>