<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body>
    <%- include("partials/header.ejs") %>

    <h2 class="tit-term"> Nuestro equipo </h2>

    <div class="nuestro-equipo-flex">

        <div class="terminos">

            <p>Nacho</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In cum doloribus maxime vero id sed, placeat quisquam recusandae error voluptas dolorem, atque quam aliquid numquam dolorum amet temporibus modi unde! </p>

            
        </div>

        <div class="terminos">

            <p>Juan</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In cum doloribus maxime vero id sed, placeat quisquam recusandae error voluptas dolorem, atque quam aliquid numquam dolorum amet temporibus modi unde! </p>
            
        </div>

        <div class="terminos">

            <p>Seba</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In cum doloribus maxime vero id sed, placeat quisquam recusandae error voluptas dolorem, atque quam aliquid numquam dolorum amet temporibus modi unde! </p>
            
        </div>

        <div class="terminos">

            <p>Dami</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In cum doloribus maxime vero id sed, placeat quisquam recusandae error voluptas dolorem, atque quam aliquid numquam dolorum amet temporibus modi unde! </p>
                        
        </div>

        <div class="terminos">

            <p>Tomi</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In cum doloribus maxime vero id sed, placeat quisquam recusandae error voluptas dolorem, atque quam aliquid numquam dolorum amet temporibus modi unde! </p>
                        
        </div>

</div>

    <%- include("partials/footer.ejs") %>

</body>