<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body>
    <%- include("partials/header.ejs") %>

    <h2 class="titulo-nuestro-equipo"> Nuestro equipo </h2>

    <div class="row">
        <div class="column">
          <div class="card">
            <img src= "../img/Equipo/Nacho.png" alt="Nacho" style="width:100%">
            <div class="container">
              <h2 class="equipo-nombre">Nacho </h2>
              <p class="title"> Back-end / React / APIs </p>
              <p>Estudiante de Digital House</p>
              <p>nacho@oclockshop.com</p>
              <a href="mailto:nacho@oclockshop.com"><p><button class="button">Contacto</button></p></a>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../img/Equipo/Juan.png" alt="Juan" style="width:100%">
            <div class="container">
              <h2 class="equipo-nombre">Juan</h2>
              <p class="title"> Back-end / Base de datos</p>
              <p>Estudiante de Digital House</p>
              <p>juan@oclockshop.com</p>
              <a href="mailto:nacho@oclockshop.com"><p><button class="button">Contacto</button></p></a>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../img/Equipo/Seba.png" alt="Seba" style="width:100%">
            <div class="container">
              <h2 class="equipo-nombre">Seba</h2>
              <p class="title">Back-end / Middlewares </p>
              <p>Estudiante de Digital House</p>
              <p>seba@oclockshop.com</p>
              <a href="mailto:seba@oclockshop.com"><p><button class="button">Contacto</button></p></a>
            </div>
          </div>
        </div>

        <div class="column">
            <div class="card">
              <img src="../img/Equipo/Dami.png" alt="Dami" style="width:100%">
              <div class="container">
                <h2 class="equipo-nombre">Dami</h2>
                <p class="title">Front-end </p>
                <p>Estudiante de Digital House</p>
                <p>dami@oclockshop.com</p>
                <a href="mailto:dami@oclockshop.com"><p><button class="button">Contacto</button></p></a>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="../img/Equipo/Tomi.png" alt="Tomi" style="width:100%">
              <div class="container">
                <h2 class="equipo-nombre">Tomi</h2>
                <p class="title">Front-end </p>
                <p>Estudiante de Digital House</p>
                <p>tomi@oclockshop.com</p>
                <a href="mailto:tomi@oclockshop.com"><p><button class="button">Contacto</button></p></a>
              </div>
            </div>
          </div>
      </div>

      <h2 class="titulo-nuestro-equipo"> Sobre O'Clock Shop </h2>

      <div class="sobre-oclock">
      
          <p> O'Clock Shop es un market place que ofrece una amplia gama de relojes de pulsera, para todo tipo de gustos y preferencias. La plataforma tiene cuestionarios y filtros de búsqueda con las distintas características y rasgos de los productos, a fin de que el usuario pueda encontrar exactamente el reloj que está buscando. </p>
          
          <p> La iniciativa del e-commerce nace como parte de la cursada "Full Stack Developer" de Digital House. </p> 
          

      </div>

    <!-- <h2 class="tit-term"> Nuestro equipo </h2>

    <div class="nuestro-equipo-flex">

        <div class="terminos">

            <p>Nacho</p>

            <p>Estudiante Digital House</p>
            <p>Back-end / React / APIs</p>
            
        </div>

        <div class="terminos">

            <p>Juan</p>

            <p>Estudiante Digital House</p>
            <p>Back-end / Base de datos</p>

        </div>

        <div class="terminos">

            <p>Seba</p>

            <p>Estudiante Digital House</p>
            <p>Back-end</p>
        
        </div>
    </div>

    <div class="nuestro-equipo-flex">
        <div class="terminos">

            <p>Dami</p>

            <p>Estudiante Digital House</p>
            <p>Front-end</p>

        </div>

        <div class="terminos">

            <p>Tomi</p>

            <p>Estudiante Digital House</p>
            <p>Front-end</p>        

        </div>
    </div>

<h2 class="tit-term"> Sobre O'Clock Shop </h2>

<div class="terminos">

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem architecto laborum beatae debitis optio illum et voluptatibus molestias eligendi, corrupti at voluptas totam vero ab temporibus modi praesentium quisquam quasi?</p>
                    
</div> -->

    <%- include("partials/footer.ejs") %>

</body>