<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body>
    <%- include("partials/header.ejs") %>

    <h2 class="tit-term"> Nuestro equipo </h2>

    <div class="row">
        <div class="column">
          <div class="card">
            <img src= "" alt="Nacho" style="width:100%">
            <div class="container">
              <h2>Nacho </h2>
              <p class="title"> Back-end / React / APIs </p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>nacho@oclockshop.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="img2.jpg" alt="Juan" style="width:100%">
            <div class="container">
              <h2>Juan</h2>
              <p class="title"> Back-end / Base de datos</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>juan@oclockshop.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="" alt="Seba" style="width:100%">
            <div class="container">
              <h2>Seba</h2>
              <p class="title">Back-end / Middlewares </p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>seba@oclockshop.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
            <div class="card">
              <img src="" alt="Dami" style="width:100%">
              <div class="container">
                <h2>Dami</h2>
                <p class="title">Front-end </p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>dami@oclockshop.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="" alt="Tomi" style="width:100%">
              <div class="container">
                <h2>Tomi</h2>
                <p class="title">Front-end </p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>tomi@oclockshop.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>
      </div>

      <h2 class="tit-term"> Sobre O'Clock Shop </h2>

      <div class="terminos">
      
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem architecto laborum beatae debitis optio illum et voluptatibus molestias eligendi, corrupti at voluptas totam vero ab temporibus modi praesentium quisquam quasi?</p>
                          
      </div>

    <!-- <h2 class="tit-term"> Nuestro equipo </h2>

    <div class="nuestro-equipo-flex">

        <div class="terminos">

            <p>Nacho</p>

            <p>Estudiante Digital House</p>
            <p>Back-end / React / APIs</p>
            
        </div>

        <div class="terminos">

            <p>Juan</p>

            <p>Estudiante Digital House</p>
            <p>Back-end / Base de datos</p>

        </div>

        <div class="terminos">

            <p>Seba</p>

            <p>Estudiante Digital House</p>
            <p>Back-end</p>
        
        </div>
    </div>

    <div class="nuestro-equipo-flex">
        <div class="terminos">

            <p>Dami</p>

            <p>Estudiante Digital House</p>
            <p>Front-end</p>

        </div>

        <div class="terminos">

            <p>Tomi</p>

            <p>Estudiante Digital House</p>
            <p>Front-end</p>        

        </div>
    </div>

<h2 class="tit-term"> Sobre O'Clock Shop </h2>

<div class="terminos">

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem architecto laborum beatae debitis optio illum et voluptatibus molestias eligendi, corrupti at voluptas totam vero ab temporibus modi praesentium quisquam quasi?</p>
                    
</div> -->

    <%- include("partials/footer.ejs") %>

</body>