<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body id="body-login-register">

    <%- include("partials/header") %> 

    <main>
        <div class="cuadro">
            <h1 class="hola">Hola!</h1>
            <h2 class="mensaje">Para acceder al carrito o agregar productos, ingresá a tu cuenta.</h2>
            <a href="./register"><button class="carrito-register">Soy nuevo</button></a>
            <a href="./login"><button class="carrito-login">Ya tengo cuenta</button></a>
        </div>
    </main>   
</body>   
<script src="../../js/validateLogin.js"></script>
<%- include("partials/footer") %>
</html>