<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body>

    <%- include("partials/header.ejs") %>

    <main class="main">
        
        <!-- Formulario de edicion del producto-->

        <form action="/" method="GET" class="form-register">
                
            <h1> 
                Edicion de producto
            </h1>

            <div>
                <input type="text" name="articulo" value="ej: Reloj suizo enchapado en oro" required>
            </div>
            
            <div>
                <input type="textarea" name="descripcion" value="reloj aguja de pulsera" required>
            </div>
            
            <div>
                <input type="file" name="foto-del-producto"accept=".jpg, .png" multiple>
            </div>       
    
           
            <div>
                <label><input type="radio" name="categoria-1" >Categoria 1</label>
                <label><input type="radio" name="categoria-2" >Categoria 2</label>
                <label><input type="radio" name="categoria-3" >Categoria 3</label>
                <label><input type="radio" name="categoria-4" >Categoria 4</label>
            </div>
            <div>
                <input type="number" name="stock" placeholder="cantidad..." required>
            </div>
            <div>
                <input type="text" name="marca" placeholder="marca del articulo" required>
            </div>
            <div>
                <input type="text" name="precio" placeholder="preciodel articulo" required>
            </div>
            
            <!-- Botón "enviar"-->

            <button type="submit" class="boton-crear-cuenta">Guardar cambios</button>
            <button type="reset" class="boton-borrar-cuenta">Borrar todo</button>

            <!-- ----------- -->

            <div class="terminos-condiciones">
                <input type="checkbox" name="nombre" class="checkbox" required>
                <label>Al crear esta cuenta, acepto los <a href=""> Términos y Condiciones </a>  y la <a href=""> Política de Privacidad </a> de la tienda.</label>
            </div>
                
        </form>

    </main>
<%- include("partials/footer.ejs") %>
</html>