<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body class="body">

    <%- include("partials/header") %>
    <main class="main">
        <div class="carrusel">
            <div class="contenedor-imagen-carrusel">
                <img src="./img/relojes-index.jpeg" alt="">
                <div class="titulos-carrusel">              
                    <h4>¡OFERTAS IMPERDIBLES!</h4> 
                    <H3>POR TIEMPO LIMITADO</H3>              
                </div> 
            </div>     
        </div>
        <div class="carrusel2">
            <div class="contenedor-imagen-carrusel">
                <img src="./img/relojes-index2.jpg" alt="">
                <div class="titulos-carrusel">              
                    <h4>¡OFERTAS IMPERDIBLES!</h4> 
                    <H3>POR TIEMPO LIMITADO</H3>              
                </div> 
            </div>     
        </div>
        <div class="quiz">         
            <h3>¿No sabés por dónde empezar?</h3>        
            <h4>¡Contestá algunas preguntas y te ayudamos con la búsqueda!</h4>        
            <div class= "contenedor-boton-quiz">
                <form action="/quiz" method="GET">
                   <a href="./quiz" target=”_blank”><button type="button" class="button-quiz">Ir al quiz</button></a>
                </form>
            </div>
        </div>
    </main>

    <section class="contenedor-categ">
        <h2 class="titulo-categ" id="categ-id"> CATEGORÍAS </h2>
        
            <div class="categorias">
                <div>
                    <a href='./categories/<%= productos.id ===5 %> '>
                        <img src="./img/premium-rolex.webp" alt="" class="img-categ"><p>Premium</p>
                    </a>  
                </div>
                     
                <div>   
                    <a href='./products/categories'>
                        <img src="./img/analogico.jpeg" alt="" class="img-categ"><p>Analógico</p>
                    </a> 
                </div>    
                <div>   
                    <a href='./products/categories'> 
                        <img src="./img/digital.png" alt="" class="img-categ"><p>Smart</p>
                    </a>
                </div>         
                <div> 
                    <a href='./products/categories'>  
                        <img src="./img/swatch-sport.jpeg" alt="" class="img-categ"><p>Sport</p>
                    </a>
                </div>     
            </div>
    </section>

    <section class="vistos">
        <h2 class="titulo-categ second"> LOS MÁS VISTOS </h2>
        <div class="articulos">          
            <div class="contenedor-articulo" >    
                <div class="contenedor-imagen-articulo">
                    <a href="./products/detail/5"><h3>Tommy Hilfiger</h3></a>
                    <img src="./img/reloj-tommy-hilfiger.jpg" alt="">
                </div>           
                <div class="articulo-x">
                    <div class="icono-articulo">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="sub-articilo-x">
                    <p class="precio-anterior">$28.000</p>
                    <p class="precio-oferta">$23.000</p>
                </div>
            </div>
           
            <div class="contenedor-articulo">   
                <div class="contenedor-imagen-articulo">
                    <a href="./products/detail/6"><h3>Galaxy Watch Active2</h3></a>
                    <img src="./img/samsung-galaxy-watch-active2.jpg" alt="">              
                </div>             
                <div class="articulo-x">
                    <div class="icono-articulo">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="sub-articilo-x">
                    <p class="precio-anterior">$34.000</p>
                    <p class="precio-oferta">$28.000</p>
                </div>
            </div>

            <div class="contenedor-articulo">   
                <div class="contenedor-imagen-articulo">
                    <a href="./products/detail/4"> <h3>Swatch Rostfrey</h3></a>
                    <img src="./img/Swatch_Rostfrei.png" alt="">
                </div>               
                <div class="articulo-x">
                    <div class="icono-articulo">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="sub-articilo-x">
                    <p class="precio-anterior">$14.800</p>
                    <p class="precio-oferta">$11.000</p>
                </div>
            </div>
            
            <div class="contenedor-articulo">       
                <div class="contenedor-imagen-articulo">   
                    <a href="./products/detail/3"><h3>Swatch Rostfrey</h3></a>
                    <img src="./img/Swatch_Rostfrei.png" alt="">
                </div>               
                <div class="articulo-x">
                    <div class="icono-articulo">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>              
                <div class="sub-articilo-x">
                    <p class="precio-anterior">$14.800</p>
                    <p class="precio-oferta">$11.000</p>
                </div>
            </div>
        </div>
    </section>
<%- include("partials/footer") %>
</html>