<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/46b0370ee7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title>OclockShop</title>
</head>
    <%- include("partials/head") %>
    <%/* comment <!-- /*<%- include("partials/head", {styles: "/css/styles-login-register.css"}) %> *\\ -->*/%>
<body>
    <%- include("partials/header") %>
    <main class="main">
    
    <!-- Formulario de Login -->

    <form action="/" method="GET" class="form-login-register">
                    
        <h3> 
            Ingresá a tu cuenta
        </h3>

        <h5> 
            Completá con tus datos registrados
        </h5>

        <div>
            <input type="email" name="email" placeholder="Correo electrónico" required>
        </div>       

        <div>
            <input type="password" name="contraseña" placeholder="Contraseña" required>
        </div>
        
        <!-- Botón "continuar"-->
        
        <button type="submit" class="boton-crear-cuenta">CONTINUAR</button>
                
        <div class="recuperar-contraseña">
            <p> <a href=""> ¿Olvidaste tu contraseña? </a></p>
        </div>

        <div class="registrar-cuenta">
            <p>¿Todavía no tenés una cuenta?</p>
        
            <p><a href=""> ¡Registrate acá! </a></p>
        </div>
        
    </form>
    </main>   
<%- include("partials/footer.ejs") %>
</html>