<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
    <%/* comment <!-- /*<%- include("partials/head", {styles: "/css/styles-login-register.css"}) %> *\\ -->*/%>
<body>
    <%- include("partials/header") %>
    <main class="main">
    
    <!-- Formulario de Registro-->

    <form action="/" method="GET" class="form-register">
                    
        <h2> 
            Ingresá a tu cuenta
        </h2>

        <h1> 
            Completá con tus datos registrados
        </h1>

        <div>
            <input type="email" name="email" placeholder="Correo electrónico" required>
        </div>       

        <div>
            <input type="password" name="contraseña" placeholder="Contraseña" required>
        </div>
        
        <!-- Botón "continuar"-->
        
        <button type="submit" class="boton-crear-cuenta">CONTINUAR</button>
                
        <div class="recuperar-contraseña">
            <p> <a href=""> ¿Olvidaste tu contraseña? </a></p>
        </div>

        <div class="registrar-cuenta">
            <p>¿Todavía no tenés una cuenta?</p>
        
            <p><a href=""> ¡Registrate acá! </a></p>
        </div>
        
    </form>
    </main>   
<%- include("partials/footer.ejs") %>
</html>