<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/46b0370ee7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-login-register.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title>OclockShop</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main class="main">
        
        <!-- Formulario de Creacion de producto-->

        <form action="/" method="GET" class="form-register">
                
            <h1> 
                Alta de producto
            </h1>

            <div>
                <input type="text" name="articulo" placeholder="ej: Reloj suizo enchapado en oro" required>
            </div>
            
            <div>
                <input type="text" name="descripcion" placeholder="descripcion del articulo" required>
            </div>
            
            <div>
                <input type="file" name="foto-del-producto"accept=".jpg, .png" multiple>
            </div>       
    
           
            <div class="cat1">
                <label id="cat1" >Categoria 1</label>
                <input type="radio" for="cat1" name="categoria-1" >
            </div>
            <div>
                <label><input type="radio" name="categoria-2" >Categoria 2</label>
                <label><input type="radio" name="categoria-3" >Categoria 3</label>
                <label><input type="radio" name="categoria-4" >Categoria 4</label>
            </div>
            <div>
                <input type="number" name="stock" placeholder="cantidad..." required>
            </div>
            <div>
                <input type="text" name="marca" placeholder="marca del articulo" required>
            </div>
            
            <!-- Botón "enviar"-->

            <button type="submit" class="boton-crear-cuenta">Crear articulo</button>
            <button type="reset" class="boton-borrar-cuenta">Borrar todo</button>

            <!-- ----------- -->

            <div class="terminos-condiciones">
                <input type="checkbox" name="nombre" class="checkbox" required>
                <label>Al crear esta cuenta, acepto los <a href=""> Términos y Condiciones </a>  y la <a href=""> Política de Privacidad </a> de la tienda.</label>
            </div>
                
        </form>

    </main>
<%- include("partials/footer.ejs") %>
</html>