<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

    <body>

        <%- include("partials/header") %>

            <main class="main">

                <!-- Formulario de Creacion de producto-->
                <section class="contenedor-form-ec">
                    <form action="../views/newProduct" method="POST" class="formulario-edicion-creacion">

                        <h1>
                            Alta de producto
                        </h1>

                        <div class="control-formulario">
                            <label class="preguntas-form"> Nombre del artículo </label>
                            <input type="text" name="articulo" placeholder=" ej: Reloj suizo enchapado en oro" class="ticks" required>
                        </div>

                        <div class="control-formulario">
                            <label class="preguntas-form"> Descripcion del artiículo</label>
                            <input type="text" name="descripcion" placeholder=" descripcion del articulo" class="ticks" >
                        </div>

                        <div class="control-formulario">
                            <label class="preguntas-form"> Imagen/es del producto </label>
                            <input type="file" name="imagen" accept=".jpg, .png" class="clase-ecf" multiple>
                        </div>


                        <div class="control-formulario">
                            <label class="preguntas-form"> A que categoría pertenece el artículo</label>
                            <input type="text" name="categoria" placeholder="deportivo/digital/lujo.." class="ticks" >
                        </div>
                        <div class="control-formulario">
                            <label class="preguntas-form"> Ingrese cantidad en stock</label>
                            <input type="number" name="stock" placeholder="cantidad..." class="ticks" >
                        </div>
                        <div class="control-formulario">
                            <label class="preguntas-form"> Ingrese la marca y modelo del articulo</label>
                            <input type="text" name="marca" placeholder="marca del articulo" class="ticks" >
                        </div>
                        <div class="control-formulario">
                            <label class="preguntas-form">Ingrese el precio del articulo</label>
                            <input type="text" name="precio" placeholder="$$$" class="ticks" required>
                        </div>
                        <!-- Botón "enviar"-->
                        <div>
                            <button type="submit" class="boton-envio">Crear articulo</button>
                            <button type="reset" class="boton-reset">Borrar todo</button>
                        </div>
                </section>
                <!-- ----------- -->
                </form>

            </main>
            <%- include("partials/footer") %>

</html>