<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body>
    <%- include("partials/header.ejs") %>

    <h1 class="tit-term">Politica de Privacidad del Sitio</h1>

    <div class="privacidad">
        <h2>Tu privacidad, tus derechos y nuestro compromiso</h2>
        <h3>Usamos tus datos para crear herramientas que hagan más fácil tu vida cotidiana. Te contamos qué hacemos con tu información.</h3>
        
        <h4 class="title-priv">Conocé nuestros principios para la protección de la privacidad</h4>
        
        <h4>Somos transparentes</h4>
        <p>Te explicamos de manera simple y clara los usos que le damos a tu información, cómo y por qué procesamos tus datos y con quién los podemos compartir.</p>
        <h4>Generamos valor</h4>
        <p>Procesamos tus datos de manera responsable para brindarte servicios personalizados. Por ejemplo, usamos tu geolocalización para ofrecerte servicios cercanos a tu ubicación.</p>
        <h4>Trabajamos con calidad</h4>
        <p>Nos esforzamos por procesar información de calidad, precisa y actualizada. Por ejemplo, guardamos tu información y la actualizamos en todas nuestras plataformas, tus compras te llegan correctamente y te ahorrás completar formularios.</p>
        <h4>Protegemos tus datos</h4>
        <p>Protegemos tu información personal con los más altos estándares de seguridad. No comercializamos tus datos.</p>
        <h4>Procesamos datos por tiempo limitado</h4>
        <p>Mantenemos tus datos solo el tiempo en el que los necesitamos para facilitarte el uso de nuestros productos. Después de eso son borrados o transformados en datos anónimos.</p>
        
        
        <h4>Tus datos en todas nuestras plataformas</h4>
        
        <p>Valoramos que nos elijas y uses nuestros servicios, queremos explicarte qué hacemos con toda la información que compartís con nosotros.</p>
        
        <p>Cuando te registrás en cualquiera de nuestras plataformas generás un usuario que te permite operar en todas las demás. Buscamos que vender, comprar o lo que quieras hacer, sea rápido y fácil, para eso integramos tu información en todos los productos que forman parte de O´clock Shop: O´clock Shop, Mercado Pago, Publicidad, Mercado Envíos, Mercado Crédito, Mercado Shops y Mercado Puntos.</p>
        
        <h4>Con tu información creamos tu experiencia</h4>
        
        <p>Nos basamos en tus datos para ofrecerte una experiencia personalizada para que puedas disfrutar de nuestros servicios y que podamos mejorarlos de manera continua. Dar tus datos personales no es obligatorio, pero sí es un requisito para usar nuestros servicios. Si la información que das no es precisa, no podemos brindarte la mejor experiencia. Si das información inexacta o falsa, pueden suspenderse los servicios que brindamos o inhabilitar tu cuenta. Considerá que podemos suspender o inhabilitar tu cuenta si no cumplís con la Declaración de Privacidad o con los Términos y Condiciones de uso del sitio.</p>
        
        <p>Si sos menor de edad, no deberías dar tu información personal ya que no tenés la capacidad legal para contratar nuestros servicios.</p>
        
        
        <h4>Tu privacidad: cuáles son tus derechos</h4>
        
        <p>Tenés derecho a acceder, actualizar, corregir y tener confidencialidad sobre tu información personal. También podés pedir que dejemos de enviarte publicidad, ofertas y promociones, suprimir tus datos y oponerte a que usemos tus datos para una o varias finalidades. Cada legislación contempla estos derechos de manera distinta, por eso te recomendamos que leas el anexo que le corresponde al país donde vivís.</p>
        
        <p>Puede ocurrir que por cumplir con algo enunciado en la declaración de privacidad o por un deber legal, tengamos que guardar algo de tu información personal que nos hayas pedido que borremos. Luego de que se cumplan esos requisitos, borraremos tu información.</p>
        
        <p>La privacidad online demanda un trabajo conjunto entre las empresas y los usuarios. Nosotros tenemos fuertes medidas de seguridad para proteger tu información, necesitamos que vos también cuides tu privacidad.</p>
        
        <p>Si querés realizar un reclamo sobre cómo tratamos tus datos personales, podés ponerte en contacto con la autoridad de supervisión correspondiente en tu país. En el anexo de tu país podrás encontrar más información sobre cómo y ante quién realizar el reclamo y sobre cómo ejercer tus derechos.</p>
        
        
        
        
        
        
        <h4>Cómo y qué tipo de información procesamos</h4>
        
        <p>Formas en las que recogemos tu información:</p>
        
        <ul>
            <li>Cuando te registrás o das información utilizando la plataforma.</li>
            <li>Automáticamente, como cuando navegás por nuestras páginas.</li>
            <li>De fuentes confiables (proveedores de servicios o aliados comerciales con los que trabajamos, burós de crédito, organismos públicos).</li>
        </ul>
        
        <p>Tipos de datos que recolectamos:</p>
        
        <ul>
            <li>Apodo o seudónimo.</li>
            <li>Nombre y foto.</li>
            <li>Identificación.</li>
            <li>Información de contacto (número de teléfono, domicilio, dirección de e-mail, etc.).</li>
            <li>Datos patrimoniales y financieros</li>
            <li>Medios de pago.</li>
            <li>Derechos de propiedad intelectual.</li>
            <li>Información del dispositivo mediante al que accedes y dirección IP.</li>
            <li>Listas de contactos.</li>
            <li>Vinculaciones entre cuentas y usuarios.</li>
            <li>Información transaccional y movimientos dentro de nuestras plataformas.</li>
            <li>Información sobre tu ubicación.</li>
            <li>Cierta información sobre la actividad y preferencias de los usuarios y visitantes dentro de nuestro sitio web y las apps de nuestros servicios.</li>
        </ul>

        <h4>Para qué usamos tus datos</h4>
        
        <p>Procesar tu información es la base para darte un excelente servicio, que puedas realizar operaciones rápidas y seguras y tener funcionalidades adaptadas a tus necesidades.</p>
        <p>Algunos de los fines para los que tratamos tus datos:</p>
        
        <ul>
            <li>Brindar productos, servicios y/o beneficios que ofrecen las plataformas de O´clock Shop (O´clock Shop, Mercado Pago, Mercado Crédito, Mercado Envíos, O´clock Shop Clasificados, O´clock Shop Publicidad, Mercado Shops, Mercado Puntos).</li>
            <li>Mejorar nuestros servicios, desarrollar nuevos y ofrecer una mejor experiencia con el ecosistema de O´clock Shop.</li>
            <li>Difundir anuncios y contactos publicitarios y promocionales adaptados a tus intereses.</li>
            <li>Prevenir fraude, abusos y delitos relacionados para proteger tu seguridad y la sustentabilidad de todo el ecosistema.</li>
            <li>Proteger tus derechos, los de otros usuarios o los de nuestra empresa.</li>
            <li>Colaborar con los titulares de propiedad intelectual en el ejercicio de sus derechos.</li>
            <li>Cumplir con obligaciones legales y requerimientos de autoridades competentes.</li>
        </ul>
        
        <h4>Cómo compartimos tus datos</h4>
        
        <p>Tu información personal está protegida. No vendemos ni comercializamos información que pueda identificarte. Tampoco compartimos o transferimos de ningún otro modo tu información personal a terceros, con la excepción de proveedores de servicios (terceros que contratamos para que presten un servicio siguiendo nuestras instrucciones), aliados comerciales, otras empresas de nuestro grupo, otros usuarios, autoridades competentes, entre otros.</p>
        
        <h4>Publicidad, cookies y otras tecnologías</h4>
        
        <p>Podemos utilizar "cookies" y otras tecnologías de seguimiento (por ejemplo "web beacons") para conocer tus intereses, las páginas navegadas, tus patrones de tráfico y tu comportamiento. Así podremos darte un mejor servicio y acercarte contenidos y publicidades que te interesen.</p>
        
        <p>Podés desactivar las cookies y web beacons en cualquier momento o dar de baja la suscripción para recibir nuestros emails promocionales. Pero puede que al desactivar dichas tecnologías no puedas usar y disfrutar de todas las funcionalidades que ofrecemos.</p>
        <p>El procedimiento para desactivar es diferente para cada navegador, tendrás que hacerlo en cada uno de los navegadores que usés:</p>
        
        <ul>
            <li>Google Chrome</li>
            <li>Mozilla Firefox</li>
            <li>Safari</li>
            <li>Internet Explorer</li>
            <li>Microsoft Edge</li>
            <li>Opera</li>
        </ul>

        <h4>Cambios en la declaración de privacidad</h4>

        <p>Si hacemos algún cambio en cómo tratamos tus datos, te avisaremos por los canales habituales, como el correo electrónico o mensajes a través de las aplicaciones de nuestras plataformas. En los casos en los que necesitemos tu aprobación, te lo comunicaremos por estos medios para que decidas si estás de acuerdo.</p>
        
    </div>


    <%- include("partials/footer.ejs") %>

</body>