<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/57cb23e7a3.js" crossorigin="anonymous"></script>
    <link href="css/styles-product.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title>Detalle Del Producto</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main class="principal">
       <div class="imagenes-verticales">
            <div class="imagen-pequeña">
                <img src="img/Tag-Heuer1.jpg" alt="">
            </div>
            <div class="imagen-pequeña"> 
                <img src="img/Tag-Heuer2.jpg" alt="">
            </div>
            <div class="imagen-pequeña">
                <img src="img/Tag-Heuer3.jpg" alt="">
            </div>
        </div>
        <div class="imagen-principal">
            <img src="img/Tag-Heuer1.jpg" alt="">
        </div>
        <div class=descripcion>
            <h3>Tag Heuer Carrera</h3>
            <p class="main-characteristics">Cronografo automatico - Diametro 44 mm</p>
            <div class="precios">
                <p class="precio-original">USD 5.100</p>
                <div class="descuento">
                    <p class="precio-descuento">USD 3.825</p>
                    <p class="discount">25% OFF!</p>
                </div>    
            </div>
            <form action="/registro" method="GET">
                <label for="cantidad">Seleccione la cantidad:</label>
                <select name="cantidad" id="cantidad" class="cantidad-desp">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <div class="comprar">
                    <label for="comprar"></label>
                    <button type="submit" id="comprar">COMPRAR ¡YA!</button>
                </div>
                <div class="agregar-carrito">
                    <label for="carrito"></label>
                    <button type="submit" id="carrito">AGREGAR AL CARRITO</button>
                </div>
            </form>
            <div class="envio">
                <a href=""><i class="fas fa-truck"></i>
                <p>Elige tu dirección de envío.</p></a>
            </div>
            <div class="devolucion">
                <i class="fas fa-box"></i>
                <p>Devolución gratis dentro de los 30 dias</p>
            </div>
        </div>
    </main>
    <article class="not-main">
        <div class="caracteristicas">
            <h4>Características del producto</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sint incidunt placeat, quo sed necessitatibus facilis praesentium eum mollitia ullam laborum similique velit dolorum itaque dolor accusantium fuga suscipit ea.</p>
        </div>
    </article> 
    <div class="otros-productos">
        <h4>Otros Productos</h4>
        <div class="otros-ofrecidos">
            <div class="otros">
                <img src="img/Tag-Heuer11.jpg" alt="">
            </div>
            <div class="otros"> 
                <img src="img/Tag-Heuer12.jpg" alt="">
            </div>
            <div class="otros">
                <img src="img/Tag-Heuer13.jpg" alt="">
            </div>
            <div class="otros">
                <img src="img/Tag-Heuer11.jpg" alt="">
            </div>
            <div class="otros"> 
                <img src="img/Tag-Heuer12.jpg" alt="">
            </div>
            <div class="otros">
                <img src="img/Tag-Heuer13.jpg" alt="">
            </div>
        </div>
    </div>
<!--    <div class="carrusel">
        <div class="otros1">
            <img src="img/Tag-Heuer11.jpg" alt="">
        </div>
        <div class="otros2"> 
            <img src="img/Tag-Heuer12.jpg" alt="">
        </div>
        <div class="otros3">
            <img src="img/Tag-Heuer13.jpg" alt="">
        </div>
        <div class="otros4">
            <img src="img/Tag-Heuer11.jpg" alt="">
        </div>
        <div class="otros5"> 
            <img src="img/Tag-Heuer12.jpg" alt="">
        </div>
        <div class="otros6">
            <img src="img/Tag-Heuer13.jpg" alt="">
        </div>
    </div>-->
</body>
<%- include("partials/footer.ejs") %>
</html>