<!DOCTYPE html>
<html lang="en">
    
<%- include("partials/head") %>

<body>

    <%- include("partials/header") %> 

    <main class="main">
        <section>
            <div class="titulo">CARRITO DE COMPRAS</div>
            <div class="contenedorNav"> <!-- para listados se arma con NAV + UL + LI -->
                <ul class="nombreProducto">
                    <p>Nombre del Producto</p>
                    <p>Imagen del Producto</p>
                    <p>Precio</p>
                    <p>Cantidad</p>
                    <p>Subtotal</p>
                    <p class="eliminarCarrito"></p>
                </ul>
            </div>
                <div class="articulos">
                    <%# if( !boughtProduct ) { %>
                        <div class="articulo1">
                            <img class="imagenReloj"src="">                    
                            <p class="tablet"></p>
                            <p class="precioDesc"></p>
                            <p class="precios"></p>
                            <p class="desc"></p>
                            <p class="desc"></p>
                            <p class="eliminarCarrito">
                                <i class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                    <%# } else { %>
                        <%# for( let i = 0; i < boughtProduct.length; i++ ) { %>
                            <div class="articulo-carrito">
                                <div class="detalle-producto-carrito">
                                    <p class="config-detalle-carrito"><%# boughtProduct[i].articulo %></p>
                                    <div>
                                        <img class="imagenReloj config-detalle-carrito"src="../../public/img/<%# boughtProduct[i].imagen %>">                    
                                    </div> 
                                    <p class="precios config-detalle-carrito"> $<%# boughtProduct[i].precio %></p>
                                    <p class="desc config-detalle-carrito"> <%# cantidad %></p>
                                    <p class="desc config-detalle-carrito">$<%# boughtProduct[i].precio * cantidad %></p>
                                    <div class="eliminarCarrito">
                                        <i class="fas fa-trash-alt"></i>
                                    </div>
                                </div>
                            </div>
                        <%# } %> 
                    <%# } %>
                </div>

                   <div class="detalleIVA">
                       <div class="bordeIzquierdo"></div>
                       <div class="detalle">
                           <div class="IVA">IVA</div>
                           <div class="TOTAL">total</div>
                       </div>
                   </div> <!--cierre detalleCompra-->
                   
             <!--reutilice codigo para el total-->

                   <div class="detalleCompra">
                    <div class="bordeIzquierdo"></div>
                    <div class="detalle">
                        <div class="IVA">TOTAL</div>
                        <div class="TOTAL">total</div>
                    </div>
                </div> <!--cierre detalleCompra-->
                <div class="botonComprar">
                <button class="btnComprar" type="submit">COMPRAR</button> 
        </section>
    </main>
<%- include("partials/footer") %>
</html>