<!-- <!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body>
    
    <%- include("partials/header") %>
   
    <article class="contenedor-categ">
        <h2> CATEGORÍAS </h2>
        
        <div class="categorias">
                <p><img src="./img/premium-rolex.webp" alt="" class="img-categ"> Premium</p>
                <p><img src="./img/analogico.jpeg" alt="" class="img-categ"> Analógico</p>
                <p><img src="./img/digital.png" alt="" class="img-categ"> Digital</p>
                <p><img src="./img/swatch-sport.jpeg" alt="" class="img-categ"> Sport</p>
        </div>
    </article>

    <article>
        <div class="articulos">
            <h2> PRODUCTOS </h2>  

            <div class="contenedor-articulo" >  
                <div class="contenedor-imagen-articulo">
                    <a href="./products/producto1"><h3>Tommy Hilfiger</h3></a>
                    <img src="./img/reloj-tommy-hilfiger.jpg" alt="">
                </div>           
                <div class="articulo-x">
                    <div class="icono-articulo">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="sub-articilo-x">
                    <p class="precio-anterior">$28.000</p>
                    <p class="precio-oferta">$23.000</p>
                </div>
            </div>
           
            <div class="contenedor-articulo">   
                <div class="contenedor-imagen-articulo">
                    <a href="./products/producto1"><h3>Galaxy Watch Active2</h3></a>
                    <img src="./img/samsung-galaxy-watch-active2.jpg" alt="">              
                </div>             
                <div class="articulo-x">
                    <div class="icono-articulo">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="sub-articilo-x">
                    <p class="precio-anterior">$34.000</p>
                    <p class="precio-oferta">$28.000</p>
                </div>
            </div>

            <div class="contenedor-articulo">   
                <div class="contenedor-imagen-articulo">
                    <a href="./products/producto1"> <h3>Swatch Rostfrey</h3></a>
                    <img src="./img/Swatch_Rostfrei.png" alt="">
                </div>               
                <div class="articulo-x">
                    <div class="icono-articulo">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="sub-articilo-x">
                    <p class="precio-anterior">$14.800</p>
                    <p class="precio-oferta">$11.000</p>
                </div>
            </div>
            
            <div class="contenedor-articulo">       
                <div class="contenedor-imagen-articulo">   
                    <a href="./products/producto1"><h3>Swatch Rostfrey</h3></a>
                    <img src="./img/Swatch_Rostfrei.png" alt="">
                </div>               
                <div class="articulo-x">
                    <div class="icono-articulo">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>              
                <div class="sub-articilo-x">
                    <p class="precio-anterior">$14.800</p>
                    <p class="precio-oferta">$11.000</p>
                </div>
            </div>
        </div>

        <div class="articulos">
            <h2> PRODUCTOS </h2>  

            <div class="contenedor-articulo" >    
                <div class="contenedor-imagen-articulo">
                    <a href="./products/producto1"><h3>Tommy Hilfiger</h3></a>
                    <img src="./img/reloj-tommy-hilfiger.jpg" alt="">
                </div>           
                <div class="articulo-x">
                    <div class="icono-articulo">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="sub-articilo-x">
                    <p class="precio-anterior">$28.000</p>
                    <p class="precio-oferta">$23.000</p>
                </div>
            </div>
           
            <div class="contenedor-articulo">   
                <div class="contenedor-imagen-articulo">
                    <a href="./products/producto1"><h3>Galaxy Watch Active2</h3></a>
                    <img src="./img/samsung-galaxy-watch-active2.jpg" alt="">              
                </div>             
                <div class="articulo-x">
                    <div class="icono-articulo">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="sub-articilo-x">
                    <p class="precio-anterior">$34.000</p>
                    <p class="precio-oferta">$28.000</p>
                </div>
            </div>

            <div class="contenedor-articulo">   
                <div class="contenedor-imagen-articulo">
                    <a href="./products/producto1"> <h3>Swatch Rostfrey</h3></a>
                    <img src="./img/Swatch_Rostfrei.png" alt="">
                </div>               
                <div class="articulo-x">
                    <div class="icono-articulo">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="sub-articilo-x">
                    <p class="precio-anterior">$14.800</p>
                    <p class="precio-oferta">$11.000</p>
                </div>
            </div>
            
            <div class="contenedor-articulo">       
                <div class="contenedor-imagen-articulo">   
                    <a href="./products/producto1"><h3>Swatch Rostfrey</h3></a>
                    <img src="./img/Swatch_Rostfrei.png" alt="">
                </div>               
                <div class="articulo-x">
                    <div class="icono-articulo">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>              
                <div class="sub-articilo-x">
                    <p class="precio-anterior">$14.800</p>
                    <p class="precio-oferta">$11.000</p>
                </div>
            </div>
        </div>
    </article>

<%- include("partials/footer") %>

</html> -->