<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/46b0370ee7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-productCart.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title>OclockShop</title>
</head>
<body>
    <%- include("partials/header.ejs") %> 
    <main class="main">
        <section>
            <div class="titulo">CARRITO DE COMPRAS</div>
            <nav class="contenedorNav"> <!-- para listados se arma con NAV + UL + LI -->
                <ul class="nombreProducto">
                    <li><a href="#">Nombre Producto</a></li>
                </ul>
                <ul class="atributosProducto">
                    <li><a href="#">Precio</a></li>
                    <li><a href="#">Cantidad</a></li>
                    <li><a href="#">Subtotal</a></li>
                </ul>
            </nav>
            <div class="articulos">
                <div class="articulo1">
                <img class="imagenReloj"src="/img/reloj1.jpg">                    
                        <div class="tablet">
                        <div class="precioDesc">Modelo Reloj</div>
                        <div class="precios">$6.770</div>
                        <div class="desc">cantidad</div>
                        <div class="desc">$$$$$$</div>
                        <div class="eliminarCarrito">
                            <i class="fas fa-trash-alt"></i>
                        </div>
                    </div>    
                </div>
                <div class="articulo2">
                        <img class="imagenReloj" src="/img/reloj1.jpg">                    
                        <div class="tablet">
                        <div class="precioDesc">Modelo Reloj</div>
                        <div class="precios">$6.770</div>
                        <div class="desc">cantidad</div>
                        <div class="desc">$$$$$$</div>
                        <div class="eliminarCarrito">
                            <i class="fas fa-trash-alt"></i>
                        </div>
                    </div>
                        
                </div>
                    </div>

                   <div class="detalleIVA">
                       <div class="bordeIzquierdo"></div>
                       <div class="detalle">
                           <div class="IVA">IVA</div>
                           <div class="TOTAL">total</div>
                       </div>
                   </div> <!--cierre detalleCompra-->
                   
             <!--reutilice codigo para el total-->

                   <div class="detalleCompra">
                    <div class="bordeIzquierdo"></div>
                    <div class="detalle">
                        <div class="IVA">TOTAL</div>
                        <div class="TOTAL">total</div>
                    </div>
                </div> <!--cierre detalleCompra-->
                <div class="botonComprar">
                <button class="btnComprar" type="submit">COMPRAR</button> 
        </section>
    </main>
<%- include("partials/footer.ejs") %>
</html>