<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/46b0370ee7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title>OclockShop</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main class="main">
        
        <!-- Formulario de Registro-->

        <form action="/" method="GET" class="form-login-register">
                
            <h2> 
                ¡Bienvenido a O'Clock Shop!
            </h2>

            <h1> 
                Registrate completando tus datos
            </h1>

            <div>
                <input type="text" name="nombre" placeholder="Nombre" required>
            </div>
            
            <div>
                <input type="text" name="usuario" placeholder="Apellido" required>
            </div>
            
            <div>
                <input type="email" name="email" placeholder="Correo electrónico" required>
            </div>       
    
            <div>
                <input type="password" name="contraseña" placeholder="Contraseña" required>
            </div>
            
            <div>
                <input type="password" name="confirmar" placeholder="Confirmar contraseña" required>
            </div>
            
            <!-- Botón "enviar"-->

            <button type="submit" class="boton-crear-cuenta">CREAR CUENTA</button>
            
            <div class="terminos-condiciones">
                <input type="checkbox" name="nombre" class="checkbox" required>
                <label>Al crear esta cuenta, acepto los <a href=""> Términos y Condiciones </a>  y la <a href=""> Política de Privacidad </a> de la tienda.</label>
            </div>
                
        </form>

    </main>
<%- include("partials/footer.ejs") %>
</html>