<footer>
    <div class="main-footer">
        <p class="text">Conócenos</p>
        <a href="/terminos"><p class="text">Términos y condiciones</p></a>
        <p class="text">¡Seguinos!</p>
        <p class="text">¿Necesitas ayuda?</p>
        <p class="text">Trabajá con nosotros</p>
    </div>
    <div class="copyright">
        <p>Copyright © 2021 OclockShop Inc. Todos los derechos reservados</p>
    </div>
</footer>